@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.imagenHome {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0), rgba(8, 0, 58, 0.7)),
        url('../../assets/fotoprof2.jpg') no-repeat center center;
    background-size: cover;
    background-position: center 24%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenhome-contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.imagenhome-vacio {
    text-align: center;
    max-width: 50%;
}

.divtexto {
    max-width: 50%;
    text-align: justify;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divtexto h1 {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.divtexto p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}


.imagenLogo {
    margin-top: 20px;
    width: 300px;
    height: 300;
    align-self: flex-start;
}